/* Hello */ 

.app {
    background-color: rgb(156, 174, 255);
}




/************  Nav Bar  **************/

.scrolled {
    background-color: rgb(91, 121, 255);
}



/*********** Footer ******************/

.footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(232, 130, 130);
}

