

/*  Adjust the top padding instead of undoing the color 
transition for the navbar    */ 



:root {
    --background-color1: #2f72a9; 
    --background-color2: #6096B4; 
    --background-color3: #85cee8; 
    --background-color4: #c7edff; 
    --background-color5: #d8eeff; 

    --accent-color1: #06243c;
}

/************* Default CSS *************/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
    height: 100%; 
    min-height: 100%;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    min-height: 1000px;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

.content {
    padding-top: px;
    z-index: 0;
    min-height: 100vh;
}

/************  Nav Bar  **************/

.nav {
    width: 100%;
    background-color: transparent;
    position: fixed !important; 
    z-index: 1000 !important;
    transition:  0.32s ease-in-out;
}
.logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.navbar-links {
    display: flex;
      align-items: center;
    width: 150px;

}
.scrolled {
    background-color: var(--background-color2);
    border: 3px solid var(--accent-color1); 
}

.social-icon-nav {
    display: inline-flex;
      align-items: center; 
      position: relative;
    margin-left: 250px;
    margin-right: 10px;
    top: -70px;
}
.gmail-icon {
    height: 50px; 
}
.facebook-icon {
    height: 50px; 
    margin-left: 40px;
}

@media  (min-width: 1000px) {
    .navbar-links {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    } 
}

/*********** Home  *************/

.landing-page {/* fix footer */ 
    padding: 0;
    margin: 0; 
    background-color: var(--background-color1);
}



.first-section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 220px 6px 60px 5px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color1);
    border: 3px solid var(--accent-color1);
}
.salve-car {
    height: auto;
    width: 50%; 
    max-width: 500px;
    min-width: 400px;
}
.d-block {
    height: 310px;
    border-radius: 10%;
    border: 3px solid var(--accent-color1);
}

.button-container {
    display: flex; 
    height: auto; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 120px;
}

.buy-button {
    margin: 60px 0px 0px 120px;
    height: 80px; 
    width: 200px; 
    background-color: var(--background-color3);
    font-size: 25px;;
    border-radius: 10%;
    border: 3px solid var(--accent-color1);
    
}

.second-section {
    background-color: var(--background-color3);
    height: auto;
    padding: 35px 50px 35px 50px;
    border: 3px solid var(--accent-color1);
}


.second-section p {
    margin: 30px 20px 30px 20px;
    max-width: 800px; 
    align-items: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.second-section img {
    max-width: 300px;  
    height: 280px;
    float: right; 
    margin: 5% 5% 5% 9%;
    top: 500px;
    border-radius: 5%;
    border: 3px solid var(--accent-color1);
}
.logo-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 85px 50px; 
    margin-top: 50px;
    background-color: var(--background-color1);
}
.logo-img {
    max-width: 100%; 
    height: auto; border-radius: 50%;
    border: 3px solid var(--accent-color1);
}
@media (min-width: 1090px) {
    .second-section img  {
      margin-top: -25px;

    }
}
@media (min-width: 1300px) {
    .second-section img  {
        margin-top: -125px;
    }
}
@media (max-width: 700px) {
    .second-section img  {
        margin-left: 1250px;
    }
}
@media (max-width: 373px) {
    .second-section img  {
        margin-right: -45px;
    }
}
@media (max-width: 430px) {
    .salve-car   {
        min-width: 310px;
    }
    .social-icon-nav {
        margin-left: 150px;
    }

}

/*********** Info *************/

.info-body {
    background-color: var(--background-color1);
    margin: 0;
}

.use-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 220px 50px 50px 50px;
    background-color: var(--background-color5);
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid var(--accent-color1);
}
.testimonial-img-section {
    padding: 50px;
    background-color: var(--background-color5);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid var(--accent-color1);
}
.testimonial-img-section img {
    width: 400px; 
    height: auto;
    float: right; 
    margin: 20px;
}

.testimonial-img-section p {
  max-width: 800px;
}
.test {
    margin-bottom: 180px;
}
.test p {
    padding-top: 100px;
}
.testimonial-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    width: 100%;
    padding: 50px;
    background-color: var(--background-color5);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid var(--accent-color1);
}
.testimonial-text-section li {
    max-width: 800px;
    margin-bottom: 20px
}
.disclaimer-section {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: var(--background-color5);
    border: 3px solid var(--accent-color1);
}
.disclaimer-section p {
    max-width: 700px;
}

@media (max-width: 750px) {
    .test img  {
        margin-left: 1250px;
    }
}
@media (max-width: 480px) {
    .test img  {
        margin-right: -50px;
        width: 300px;
    }
}

/*********** Contact *************/

.contact-page {
        padding-top: 250px;
        background-color: var(--background-color3);
}
.social-icon-contact img {
    height: 50px; 
    margin: 15px 20px 30px 15px;
}
.contact-info {
    font-size: 20px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}
.contact-form input:focus, .contact-form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
}
.contact-form input::placeholder, .contact-form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.contact-form input:hover, .contact-form textarea:hover {
    background: rgba(255, 255, 255, 1);
}
.contact-form button {
    font-weight: 700;
    color: #000;
    background-color: var(--background-color2);
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 30px;
    position: relative;
    transition: 0.3s ease-in-out;
    margin-bottom: 30px;
    border: 3px solid var(--accent-color1);
}
.contact-form button span {
    z-index: 1;
    position: relative;
  }
.contact-form button:hover {
    background-color: black;
    color: var(--background-color2);
}

/*********** Checkout ******************/
.checkout-page {
    padding-top: 200px;
    background-color: var(--background-color3);
}
.checkout-title {
    margin-left: 80px;
    padding: 20px 20px 40px 20px;
}
.checkout-title h2 {
    font-size: 40px;
}
.salve-option-one,
.salve-option-two {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color1);
    padding: 50px; 
    border: 3px solid var(--accent-color1);

}
.salve-option-one img, 
.salve-option-two img {
    width: 300px; 
    border-radius: 20%;
    border: 3px solid var(--accent-color1);
}
.dropdown {
    margin-left: 60px;
 margin-top: 20px;
}
.btn-color {
    background-color: var(--background-color3) !important;
  color: white !important; 
  border: 1.5px solid var(--accent-color1) !important; 
  height: 50px !important; 
  font-size: 16px !important; 
}
.btn-text {
    width: 100px !important; 
}
.drop-menu {
    max-height: 120px; /* Set maximum height for the dropdown menu */
    overflow-y: scroll; /* Enable vertical scrolling */
    background-color: var(--background-color5) !important;
}
 
.shipping-details-pay {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "shep-det paypal"; 
    
}
.shipping-details {
    grid-area: shep-det;
    font-size: 20px;
    border: 3px solid var(--accent-color1);
}
.shipping-section {
    padding: 25px;
    background-color: var(--background-color3);
}
.shipping-option-two {
    margin-top: 20px;
}
.shipping-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.details-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    background-color: var(--background-color3);
}
.deal {
    text-decoration: underline;
    text-decoration-color: green;
}
.paypal-section {
    grid-area: paypal;
    padding: 25px;
    background-color: var(--background-color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--accent-color1);
}
.paypal-section h1 {
    margin-bottom: 60px;
}
.paypal-section p {
    color: red;
}
.alert-success {
    color: #fff !important;
    background-color: rgb(0, 124, 0) !important;
}
@media only screen and (max-width: 768px) {
    .shipping-details-pay {
        display: grid; 
        grid-template-columns: 1fr;
        grid-template-areas: 
        "shep-det"
        "paypal"; 
        
    }
    .shipping-option-two  {
        padding-left: 80px;
    }
}
/*********** Footer ******************/

.footer {
    background-color: var(--background-color2);
    border: 3px solid var(--accent-color1); 
    width: 100%;
    padding: 40px 40px 40px 40px;
    margin-top: auto;
    position: relative; 
    bottom: 0;
    left: 0; 
    right: 0;
}

.social-icon-footer {
 margin-left: 100px;
 padding-right: 10px;
 margin-bottom: 20px;
 width: auto;
}
.footer p {
    font-size: 20px;
    color: var(--accent-color1);
}
.my-link {
    color: #78ebff;
    font-family:Courier, monospace, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
}